.contact-container {
    background: radial-gradient(circle, #7141C7 40%, #3B2268 90%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
.contact-content {
    display: flex;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px; /* Adjust width as needed */
    overflow: hidden;
}

h2, label, textarea, input {
    font-family: 'Akatab-Medium';
}
  
  /* Left Section - Contact Info */
.contact-info {
    flex: .7;
    background: linear-gradient(to bottom, #E6E6FA, #D8BFD8);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-family: 'Akatab-Medium';
}

.icon {
    font-size: 34px;
    color: #6a0dad;
}


/* Right Section - Form */
.form-wrapper {
    flex: 1;
    padding: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.star-rating {
    margin-bottom: 10px;
}

.thank-you-message {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    text-align: center;
    height: 100%; /* Ensures it takes full height of the container */
    margin-left: 45px;
    margin-top: 60px;
  }
  
  .thank-you-message h3 {
    color: #6a0dad;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .thank-you-message p {
    font-size: 14px;
    color: #333;
  }

/* button {
    background-color: #6a0dad;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #9b4dcc;
}
   */