.landing-container {
    min-height: 100vh;
    background: radial-gradient(circle, #7141C7 40%, #3B2268 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    width: 80%;
}

.auth-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
}

.captions {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    justify-content: flex-end;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.logo {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.30);
    border-radius: 50%;
}

.gradient-text {
    background: linear-gradient(to right, #A489D3, #FFF, #A489D3);
    color: transparent;
    -webkit-background-clip: text; 
    font-size: 7vw;
    text-align: left;
    font-family: 'Akatab-Medium';
}