body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  :root {
    --font-size-caption: 14px;
    --font-size-button: 16px;
    --font-size-body: 18px;
    --font-size-h4: 20px;
    --font-size-h3: 24px;
    --font-size-h2: 30px;
    --font-size-h1: 56px;
  }
  
  :root {
    --primary-color: #3C2368;
    --secondary-color: #F5F4F8;
    --tertiary-color: #DBD0EE;
    --hover-primary-color: #21113e;
  }