@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&family=Ribeye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');

.container {
    min-height: 100vh;
}

.gradient {
    display: flex;
    flex-direction: row; /* Change to column so navbar fits*/
    background: radial-gradient(circle, #7141C7 40%, #3B2268 90%);
    min-height: 100vh; 
    /*Extend to full page height*/
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.header {
    font-size: 56px;
    color: white;
    font-family: 'Akatab-Bold';
}

.subheader {
    font-size: 20px;
    color: white;
    font-family: 'Akatab-Bold';
}

.image-upload-container {
    width: 30%;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.hide {
    display: none;
}

.image-upload {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 35px;
    border: dashed 2px var(--primary-color);
    border-radius: 15px;
    gap: 24px;
    width: 100%;
    box-sizing: border-box;
    height: 450px
}

.btn {
    width: 100%;
}

.drag-text {
    font-family: 'Akatab-Bold';
    font-size: var(--font-size-body);
    text-decoration: none;
    color: black;
    text-align: center;
}

.or {
    font-family: 'Akatab-Medium';
    font-size: var(--font-size-caption);
    text-decoration: none;
    color: black;
}

.polaroid-container {
    display: flex;
    flex-wrap: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.polaroid-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -250px;
}

.polaroid{
    background: #e2e0d2;
    width: 100%;
    height: 600px;
    max-height: 600px;
    padding: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.polaroid img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    max-height: 400px;
    margin-bottom: 10px;
    filter: sepia(0.3) contrast(1.2) brightness(1.1);
}

.caption-text{
    font-family: 'Over the Rainbow';
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0px;
}

.song-credits {
    font-size: 18px;
    color: rgb(124, 122, 122);
    margin-top: 4px;
    text-align: center;
}

.uploaded-image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start; 
    width: 30%;
    align-self: flex-start;
    margin-left: 60px;
  }

.copy-button, .instagram-button, .delete-button, .save-button {
    background-color: #7E57C2;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 200px;
    text-align: center;
}

.copy-button:hover, .instagram-button:hover, .delete-button:hover, .save-button:hover {
    background-color: #333;
}

.instagram-button {
    background-color: #9575CD;
}

.delete-button {
    background-color: #B39DDB;
}

.save-button {
    background-color: #D1C4E9 ;
}

.uploaded-img-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    box-sizing: border-box;
}

.uploaded-file {
    display: flex;
    flex-direction: row;  
    gap: 12px;
    align-items: center;
    padding: 8px 0;
    width: 100%;
    border-bottom: 1px solid black;
}

@media (max-width: 768px) {
    .gradient {
        flex-direction: column;
    }
    .right-container {
        width: 100%;
        align-items: center;
    }
    .polaroid{
        width: 100%;
    }
}