.white-color {
    color: white;
}

.black-color {
    color: black;
}

.navbar-container {
    position: absolute;
    top: 0;
    width: 100%; /* Ensures navbar takes the full width of the container */
    min-width: 320px; /* Prevent navbar from resizing */
    background: radial-gradient(circle, #7141C7 40%, #3B2268 90%);

}

.navbar {
    display: flex;
    height: 75px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background: transparent;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.logo-text {
    font-family: 'Akatab-Bold';
    font-size: var(--font-size-h4);
    text-decoration: none;
    /* color: white; */
}

.navbar-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.center-text {
    font-family: 'Akatab-Medium';
    font-size: var(--font-size-button);
    text-decoration: none;
}

.center-text:hover {
    text-decoration: underline;
}

.navbar-right {
    display: flex;
}

.user-profile {
    position: relative;

}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover; /* Ensures image is contained properly */  
    border: 2px solid white; /* Optional: Add a white border */
}

.profile-picture:hover {
    cursor: pointer;
}

.username {
    color: black; /*Change text color to white*/
    font-family: 'Akatab-Bold'; 
    font-size: var(--font-size-caption2); /* Increase font size */  
    font-weight: 600; /* Semi-bold */  
    text-align: center; /* Center align text */  
    margin-top: 10px; /* Add some spacing */
}

.profile-btns {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sign-out-btn {
    padding: 16px;  
    padding-left: 0px;
    color: black;  
    font-size: var( --font-size-caption);  
    font-family: 'Akatab-Medium';  
    border: none;  
    border-radius: 8px;  
    cursor: pointer;  
    transition: all 0.3s ease;
    background: none;
    text-align: start;
}


.sign-out-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.dropdown-menu {
    position: absolute; /* Position it absolutely in relation to its closest positioned ancestor */
    top: 100%; /* Position below the user profile */
    right: 0; /* Align the dropdown to the right of the navbar */
    background-color: white; /* Add background color */
    border-radius: 2px;
    padding: 15px;
    padding-left: 20px;
    width: 200px; /* Adjust to the size of the content */
    margin-top: 6px;
    z-index: 10; /* Make sure it's on top of other elements */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdown-menu.show {
    opacity: 1; /* Fully show the dropdown */
    transform: translateY(0); /* Slide into its place */
}